<!doctype html>
<html ng-app="Supplier">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>-->
    <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet" media="screen">
    <script src="../lib/i18next-1.6.3.min.js"></script>
    <script src="../lib/ng-i18next.min.js"></script>
    <script src="../javascripts/sample.js"></script>
    <meta charset="utf-8">

    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../stylesheets/style.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>
<body>

<div class="body-wrap">
    <div class="container-narrow">

        <div class="navbar-wrapper">
            <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
            <div class="container">
                <div class="navbar navbar-inverse">
                    <div class="pull-right">
                        <div class="nav-collapse collapse">
                            <div ng-controller="LanguageController"><select class="languageDropDown"   ng-change="languageChanged()" ng-model="language" ng-options="item.id as item.name for item in languages"></select></div>
                        </div><!--/.nav-collapse -->
                    </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->
            </div> <!-- /.container -->
        </div><!-- /.navbar-wrapper -->

  <div class="content">
    <div class="jumbotron">

         <!--<legend><h4 ng-i18next="[html]header.welcome"></h4></legend>    -->

          </div>
        <!--tabs-->
         <div class="formClass" >
      <form name="supplierRegistrationForm" class="form-horizontal" novalidate ng-controller="FormController">
              <div>
                <tabset class="nav nav-tabs">
                    <tab heading="1" >
                        <legend><h4 ng-i18next="[html]formheader.title.1"></h4></legend>

                        <div ng-form="contactInfoForm" ng-controller="contactInfoController" class="pull-left">

                            <div class="control-group" ng-class="{error: contactInfoForm.firstName.$invalid}">
                                <label class="control-label" ng-i18next="formLabel.firstName"></label>

                                <div class="controls">
                                    <input name="firstName" ng-maxlength="120"  type="text" value=""  ng-model="contactInfoForm.poc.firstName" id="firstName" required>
                                     <span ng-show="contactInfoForm.firstName.$error.required" class="help-inline">
                                        Required</span>
                                     <span ng-show="contactInfoForm.firstName.$error.maxlength" class="help-inline">
                                        Too Long </span>
                                </div>
                            </div>


                            <div class="control-group" ng-class="{error: contactInfoForm.lastName.$invalid}">
                                <label class="control-label" ng-i18next="formLabel.lastName"></label>
                                <div class="controls">
                                    <input name="lastName" ng-maxlength="120"  type="text" value=""  ng-model="contactInfoForm.poc.lastName" id="lastName" required>
                                    <span ng-show="contactInfoForm.lastName.$error.required" class="help-inline">
                                        Required</span>
                                    <span ng-show="contactInfoForm.lastName.$error.maxlength" class="help-inline">
                                        Too Long </span>
                                </div>
                            </div>


                          <div class="control-group" ng-class="{error: contactInfoForm.contactNumber.$invalid}">
                              <label class="control-label" ng-i18next="formLabel.contactNumber"></label>
                              <div class="controls">
                                  <input name="contactNumber"   type="text" value=""  ng-model="contactInfoForm.poc.contactNumber" id="contactNumber" required>
                                  <span ng-show="contactInfoForm.contactNumber.$error.required" class="help-inline">
                              Required</span>
                              </div>
                          </div>


                          <div class="control-group" ng-class="{error: contactInfoForm.mobileNumber.$invalid}">
                              <label class="control-label" ng-i18next="formLabel.mobileNumber"></label>
                              <div class="controls">
                                  <input name="mobileNumber" ng-minlength="5"  type="text" value=""  ng-model="contactInfoForm.poc.mobileNumber" id="mobileNumber" required>
                                           <span ng-show="contactInfoForm.mobileNumber.$error.required" class="help-inline">
                              Required</span>

                              </div>

                           </div>

                          <div class="control-group" ng-class="{error: contactInfoForm.emailId.$invalid}">
                                  <label class="control-label" ng-i18next="formLabel.emailId"></label>
                                  <div class="controls">
                                      <input name="emailId" ng-minlength="5"  type="email" value=""  ng-model="contactInfoForm.poc.emailId" id="emailId" required>
                                           <span ng-show="contactInfoForm.emailId.$error.required" class="help-inline">
                                          Required</span>
                                  </div>
                               </div>



                          <div class="control-group" ng-class="{error: contactInfoForm.companyName.$invalid}">
                                 <label class="control-label" ng-i18next="formLabel.companyName"></label>
                                   <div class="controls">
                                      <input name="companyName" ng-maxlength="120"  type="text" value=""  ng-model="contactInfoForm.poc.companyName" id="companyName" required>
                                       <span ng-show="contactInfoForm.companyName.$error.required" class="help-inline">
                                         Required</span>
                                       <span ng-show="contactInfoForm.companyName.$error.maxlength" class="help-inline">
                                          Too Long </span>
                                  </div>
                           </div>

                           <div class="control-group" ng-class="{error: contactInfoForm.jobTitle.$invalid}">
                                 <label class="control-label" ng-i18next="formLabel.jobTitle"></label>
                                   <div class="controls">
                                      <input name="jobTitle" ng-maxlength="120"  type="text" value=""  ng-model="contactInfoForm.poc.jobTitle" id="jobTitle" required>
                                      <span ng-show="contactInfoForm.jobTitle.$error.required" class="help-inline">
                                      Required</span>
                                      <span ng-show="contactInfoForm.jobTitle.$error.minlength" class="help-inline">
                                      Too Short </span>
                                   </div>
                            </div>

                         </div>

                     </tab>


                     <tab heading="2">
                        <legend><h4 ng-i18next="[html]formheader.title.2"></h4></legend>
                        <div ng-form="companyInfoForm"  ng-controller="companyInfoController" class="pull-left">

                            <div class="control-group" ng-class="{error: companyInfoForm.companyId.$invalid}">
                                <label class="control-label" ng-i18next="formLabel.age"></label>
                                        <div class="controls">
                                    <input name="companyId" ng-minlength="5"  type="text" value=""  ng-model="companyInfo.companyId" id="companyId" required>
                                             <span ng-show="companyInfoForm.companyId.$error.required" class="help-inline">
                                Required</span>
                               <span ng-show="companyInfoForm.companyId.$error.minlength" class="help-inline">
                                   Too Short </span>
                                </div>
                            </div>

                        </div>
                  <!--      <button ng-click="toggleState2()" >Toggle</button>-->
                    </tab>

                     <tab heading="3">

                       <legend><h4 ng-i18next="[html]formheader.title.3"></h4></legend>

                       <div ng-form="businessDetailsForm" ng-controller="businessDetailController" class="pull-left">
                           <div class="control-group" ng-class="{error: businessDetailsForm.assets.$invalid}">
                               <label class="control-label" ng-i18next="formLabel.age"></label>
                               <div class="controls">
                               <input type="text" id="assets" name="assets"  ng-minlength="3" ng-model="businessDetails.assets" required >
                                        <span ng-show="businessDetailsForm.assets.$error.required" class="help-inline">
                                            Required</span>
                                        <span ng-show="businessDetailsForm.assets.$error.minlength" class="help-inline">
                                              Too Short </span>
                                </div>
                          </div>
                       </div>
                   </tab>


                   <tab heading="4">

                       <legend><h4 ng-i18next="[html]formheader.title.4"></h4></legend>
                       <div ng-form="serviceDetailsForm" ng-controller="serviceDetailContoller" class="pull-left">

                           <div class="control-group" ng-class="{error: serviceDetailsForm.serviceId.$invalid}">
                               <label class="control-label" ng-i18next="formLabel.age"></label>
                               <div class="controls">
                                   <input type="text" name="serviceId"  ng-minlength="3" ng-model="serviceDetails.serviceId" required >
                                <span ng-show="serviceDetailsForm.serviceId.$error.required" class="help-inline">
                                Required</span>
                               <span ng-show="serviceDetailsForm.serviceId.$error.minlength" class="help-inline">
                                   Too Short </span>
                               </div>
                           </div>
                       </div>


                    </tab>

                </tabset>

              </div>
                <div  class ="registerBtn">
                    <button ng-model="isDisabled"  ng-disabled="!supplierRegistrationForm.$valid" ng-click="register()" class="btn btnPrimary">Register</button>
                <!--<button ng-model="isDisabled"  ng-disabled="!isDisabled" ng-click="register()" class="btn btnPrimary">Register</button>          -->
                </div>
            </form>


            </div>
        </div>
       </div>
  </div>
</body>
</html>
