<!doctype html>
<html ng-app="Supplier">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>-->
    <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet" media="screen">
    <script src="../lib/i18next-1.6.3.min.js"></script>
    <script src="../lib/ng-i18next.min.js"></script>
    <script src="../javascripts/sample.js"></script>
    <meta charset="utf-8">

    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../stylesheets/style.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>
<body>

<div class="body-wrap">
    <div class="container-narrow">

        <div class="navbar-wrapper">
            <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
            <div class="container">
                <div class="navbar navbar-inverse">
                    <div class="pull-right">
                        <div class="nav-collapse collapse">
                            <div ng-controller="LanguageController"><select class="languageDropDown"   ng-change="languageChanged()" ng-model="language" ng-options="item.id as item.name for item in languages"></select></div>
                        </div><!--/.nav-collapse -->
                    </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->
            </div> <!-- /.container -->
        </div><!-- /.navbar-wrapper -->

  <div class="content">
    <div class="jumbotron">

         <legend><h4 ng-i18next="[html]header.welcome"></h4></legend>

          </div>
        <!--tabs-->

      <form name="supplierRegistrationForm" class="form-horizontal" novalidate ng-controller="FormController">
              <div>
                <tabset class="nav nav-pills">
                    <tab heading="1" >
                        <legend><h4 ng-i18next="[html]formheader.title.1"></h4></legend>
                        <div ng-form="contact-info-form" ng-controller="contactInfoController" class="well form-horizontal pull-left">

                            <div class="control-group">
                                <label class="control-label" ng-i18next="formLabel.name"></label>

                                <div class="controls">
                                    <input name="name" type="text" value="" id="name" ng-model="userType" required>
                                </div>
                            </div>


                            <div class="control-group">
                                <label class="control-label" ng-i18next="formLabel.age"></label>

                                <div class="controls">
                                    <input name="age" type="text" value="" id="age">
                                </div>
                            </div>

                            <div class="control-group">
                                <label  class="control-label" ng-i18next="formLabel.address"></label>

                                <div class="controls">
                                    <input name="address" type="text" value="" id="address">
                                </div>
                            </div>
                            <legent></legent>
                            <div class="control-group">
                                <label class="control-label" ng-i18next="formLabel.name"></label>

                                <div class="controls">
                                    <input name="name" type="text" value="" id="name1" ng-model="userType" required>
                                </div>
                            </div>
                        </div>
                       <!-- <button ng-click="toggleState()" >Toggle</button>-->
                    </tab>

                    <tab heading="2">
                        <legend><h4 ng-i18next="[html]formheader.title.2"></h4></legend>
                        <div ng-form="company-info-form"  ng-controller="companyInfoController" class="pull-left">

                            <div class="control-group">
                                <label class="control-label" ng-i18next="formLabel.age"></label>
                                        <div class="controls">
                                    <input name="companyId" type="text" value="" id="companyid">
                                </div>
                            </div>

                        </div>
                  <!--      <button ng-click="toggleState2()" >Toggle</button>-->
                    </tab>

                     <tab heading="3">

                       <legend><h4 ng-i18next="[html]formheader.title.3"></h4></legend>

                       <div ng-form="business-details-form" ng-controller="businessDetailController" class="pull-left">
                           <div class="control-group">
                               <label class="control-label" ng-i18next="formLabel.age"></label>

                               <div class="controls">
                                   <input name="serviceList" type="text" value="" id="serviceLists">
                               </div>
                           </div>

                       </div>
                   </tab>


                   <tab heading="4">

                       <legend><h4 ng-i18next="[html]formheader.title.4"></h4></legend>
                       <div ng-form="services-details-form" ng-controller="serviceDetailContoller" class="pull-left">

                           <div class="control-group">
                               <label class="control-label" ng-i18next="formLabel.age"></label>

                               <div class="controls">
                                   <input name="age" type="text" value="" id="age1">
                               </div>
                           </div>
                       </div>


                    </tab>

                </tabset>

        </div>
          <div  class ="btn btn-primary">
          <button ng-model="isDisabled"  ng-disabled="!isDisabled" ng-click="register()">Register</button>
          </div>
      </form>


            </div>
        </div>
       </div>
  </div>
</body>
</html>
